mixin nav()
  nav.nav
    ul.nav__items
      li.nav-item.nav-item--recon
        span.nav-item__title Reconciliation
        p.nav-item__txt Bulging with restaurants, overflowing with shops, and teeming with creative people
        a(class='nav-item__link' href='#') learn more
      li.nav-item.nav-item--slow
        span.nav-item__title Slow
        p.nav-item__txt Bulging with restaurants, overflowing with shops, and teeming with creative people
        a(class='nav-item__link' href='#') learn more
      li.nav-item.nav-item--innovation
        span.nav-item__title Innovation
        p.nav-item__txt Bulging with restaurants, overflowing with shops, and teeming with creative people
        a(class='nav-item__link' href='#') learn more
      li.nav-item.nav-item--exp
        span.nav-item__title Experience
        p.nav-item__txt Bulging with restaurants, overflowing with shops, and teeming with creative people
        a(class='nav-item__link' href='#') learn more
