mixin twitter()
  #twitter.twitter
    //- .twitter__header
    //-   .twitter__account MixPanel
    //-   .twitter__status 17 minute ago
    //- .twitter__txt This is a Tweet example. And consectetur adipiscing elit. Cras trisique ac tortor facilisis posuere. In seper tortor sit. #Hashtag
    <a class="twitter-timeline" href="https://twitter.com/mixpanel?ref_src=twsrc%5Etfw" data-chrome="nofooter noheader noborders" data-tweet-limit="1" data-width="450" data-height="200"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
