.info {
  &__wrapper {
    display: flex;
    max-width: $wrapper;
    margin: 0 auto;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 20px 0;
  }
}
