mixin rates()
  //- ul#rates.rates
  //-   li.rates__item.rates__item--eur
  //-     span.rates__item-currency EUR
  //-     span.rates__item-direction.rates__item-direction--down
  //-     span.rates__item-percent 0.00787 %
  //-   li.rates__item.rates__item--usd
  //-     span.rates__item-currency USD
  //-     span.rates__item-direction
  //-     span.rates__item-percent 0.00787 %
  //-   li.rates__item.rates__item--usd
  //-     span.rates__item-currency RUB
  //-     span.rates__item-direction
  //-     span.rates__item-percent 0.00787 %
  //-   li.rates__item.rates__item--eur
  //-     span.rates__item-currency EUR
  //-     span.rates__item-direction.rates__item-direction--down
  //-     span.rates__item-percent 0.00787 %
  //-   li.rates__item.rates__item--usd
  //-     span.rates__item-currency USD
  //-     span.rates__item-direction
  //-     span.rates__item-percent 0.00787 %
  //-   li.rates__item.rates__item--usd
  //-     span.rates__item-currency RUB
  //-     span.rates__item-direction
  //-     span.rates__item-percent 0.00787 %

