extends templates/layout.pug

block meta
  title MixPanel promo
  meta(name='description', content='Mixpanel is the most advanced analytics platform for mobile & web')


block content
  +ticker
  +header
  +promo
  +info

block nav
  +nav
