//- Подключение примесей

include blocks/ticker/ticker.pug
include blocks/header/header.pug
include blocks/promo/promo.pug
include blocks/rates/rates.pug
include blocks/twitter/twitter.pug
include blocks/nav/nav.pug
include blocks/tabs/tabs.pug
include blocks/social-links/social-links.pug
include blocks/btn-link/btn-link.pug
include blocks/info/info.pug
include blocks/nav-item/nav-item.pug
