$gray-dark:                   hsl(0, 0%, 20%);
$gray:                        #f0f1f3;
$gray-light:                  hsl(0, 0%, 80%);

$yellow-light:                #f1c150;
$yellow-dark:                 #ff9d66;

$blue-light:                  #5aa6f9;
$blue-dark:                   #3e2f9e;

$violet-light:                #c870ff;
$violet-dark:                 #812dff;


$aquamarine-light:            #39e1d8;
$aquamarine-dark:             #2573b8;




$text-color:                  #fff;

$font-family:                 'Poppins', sans-serif;
$font-size:                   14px;
$line-height:                 1.4;

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$wrapper:                     1170px;
